@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

// $dark-cyan: hsl(158, 36%, 37%);
// $cream: hsl(30, 38%, 92%);
// $very-dark-blue: hsl(212, 21%, 14%);
// $dark-grayish-blue: hsl(228, 12%, 48%);
// $white: hsl(0, 0%, 100%);


body {
  background-color: $cream;
  @include flex-properties(column);

  .container {
    @include flex-properties(column);
    background-color: $white;
    max-width: 90vw;
    margin: 2rem 1rem;
    overflow: hidden;
    border-radius: 1rem;

    .image-mobile {
      width: 100%;
    }

    .image-desktop {
      display: none;
    }

    .text-holder {
      width: 100%;
      padding: 5%;

      .product-type {
        font-size: 14px;
        letter-spacing: 0.3rem;
        color: $dark-grayish-blue;
      }

      h1 {
        font-family: Fraunces;
      }
    }
  }
}

@media only screen and (min-width: 376px) {
  body {
    .container {
      @include flex-properties(row);

      .image-desktop {
        display: block;
        width: 50%;
      }
    
      .image-mobile {
        display: none;
      }

      .text-holder {
        width: 50%;

        h1 {
          font-weight: 700;
        }
      }
    }
  }
}